<!-- Kontakt Section -->
<section id="kontakt" class="content-section text-center">
    <div class="kontakt-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Kontakt</h2>
                <p>Wenn ihr Fragen habt, stehen wir euch natürlich jeder Zeit gern mit unserem „Insider Wissen“ zur
                    Verfügung!</p>
                <p>Ihr könnt uns unter den bekannten Kanälen (Telefon, WhatsApp, E-Mail) erreichen oder schreibt an:</p>
                <p><a href="mailto:{{ site.email }}">{{ site.email }}</a>
                </p>
            </div>
        </div>
    </div>
</section>
