    <!-- Ort Section -->
    <section id="ort" class="content-section text-center">
        <div class="ort-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Ort</h2>
		    <p>Wir wollen am Bodensee heiraten. Folgenden Veranstatlungsort konnten wir uns sichern: <a href="http://zollhaus-ludwigshafen.de/tagen-feiern/" class="btn btn-default btn-lg">Zollhaus Ludwigshafen</a>
		    </p>
		    <a href="#kontakt" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>
