<!-- Ort Section -->
<section id="ort" class="content-section text-center">
    <div class="ort-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Veranstaltungsort</h2>

                <p>Das <a href="http://zollhaus-ludwigshafen.de/tagen-feiern/" target="_blank" class="btn btn-default">Zollhaus</a> in
                    Ludwigshafen liegt direkt am kleinen Hafen der Gemeinde Bodman-Ludwigshafen und bietet jede Menge
                    Platz zum Feiern. Gleich nebenan ist ein toller Kinderspielplatz und man kann wunderbar entlang des
                    Bodensees spazieren gehen. </p>

                <a href="#unterkunft" class="btn btn-circle page-scroll">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div>
    </div>
</section>
