<!-- Save the Date Section -->
<section id="savethedate" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Save the Date: 22. Juni 2018</h2>
            <p>Liebe Familie und Freunde,</p>

            <p>wir heiraten und möchten diesen besonderen Tag mit euch teilen!</p>

            <p>Unsere Hochzeit wird am <b>Freitag, den 22. Juni 2018</b>, im <b>Zollhaus</b> in <b>Ludwigshafen am
                Bodensee</b> stattfinden. </p>

            <p>Setzt in eurem Kalender schon mal ein großes rotes Kreuzle und reserviert – falls benötigt – so früh wie
                möglich eine Unterkunft, da der Bodensee ein beliebtes Reiseziel ist und vom 17. bis 20. Juni 2018 die
                Fachmesse „Outdoor“ in Friedrichshafen stattfindet.</p>

            <p>Ihr seid natürlich herzlich eingeladen eure Kinder mitzubringen.</p>

            <p>Informationen zum Ort der Hochzeitsfeier und Tipps zur Unterkunftssuche haben wir auf dieser Seite für
                euch zusammengestellt.</p>

            <p>Alle weiteren Details erhaltet ihr in einigen Monaten mit Eurer Einladungskarte.</p>

            <p>Wir freuen uns über jeden von euch, der diesen besonderen Tag mit uns feiert!</p>

            <p>Claudia und Thomas</p>

            <a href="#ort" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-down animated"></i>
            </a>
        </div>
    </div>
</section>
