<!-- Ort Section -->
<section id="unterkunft" class="content-section text-center">
    <div class="row">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Unterkunft</h2>

                <p>Die Gemeinde Bodman-Ludwigshafen besteht – wie der Name schon vermuten lässt – aus den beiden
                    Teilorten Bodman und Ludwigshafen und ca. viereinhalb tausend Einwohnern. Die Teilorte liegen ca. 5
                    km auseinander, dies bitte bei der Unterkunftsbuchung beachten! </p>

                <p>Das Zollhaus liegt zentral in Ludwigshafen, direkt am Bodensee und gleich neben dem 4-Sterne <a
                        href="http://seehotel-adler.de" class="btn btn-default">Seehotel Adler</a>sowie dem ebenso
                    dazugehörigen 3-Sterne Hotel <a href="http://zum-hafen.de" class="btn btn-default">Zum Hafen</a>. In
                    beiden Hotels haben wir ein Zimmerkontingent. Im Seehotel Adler (4*) gibt es bei einem mehrtägigen
                    Aufenthalt einen kleinen Rabatt auf die Übernachtungsrate, im Hotel Zum Hafen (3*) leider nicht.
                    Falls ihr in einem der zwei Hotels ein Zimmer reservieren wollt, <u>bitte direkt beim Hotel melden
                        und unbedingt auf die Hochzeitsgesellschaft Jäckle-Brandt verweisen</u>. </p>

                <p>Wer lieber eine Ferienwohnung oder ein anderes Hotel bevorzugt, kann sich über die folgenden Links
                    schon einmal informieren. Broschüren und gedruckte Gastgeberverzeichnisse könnt ihr bei den
                    jeweiligen Tourismusinformationen anfordern. </p>

                <a href="http://www.bodenseepur.de" class="btn btn-default btn-lg">Bodman-Ludwigshafen</a>
                <a href="http://www.sipplingen.de" class="btn btn-default btn-lg">Sipplingen (+5 km)</a>
                <a href="http://www.ueberlingen-bodensee.de/Uebernachten" class="btn btn-default btn-lg">Überlingen (+13
                    km)</a>
                <!--<ul style="text-align: left; list-style-type: none;">
                    <li><a href="http://www.bodenseepur.de/" class="btn btn-default btn-lg">Bodman-Ludwigshafen</a></li>
                    <li><a href="http://www.sipplingen.de/" class="btn btn-default btn-lg">Sipplingen</a> (+ 5 km)</li>
                    <li><a href="http://www.ueberlingen-bodensee.de/Uebernachten" class="btn btn-default btn-lg">Überlingen</a> (+13 km)</li>
                </ul>-->

                <br/><br/>
                <p>Egal welche Unterkunft, bitte bucht rechtzeitig.</p>

                <a href="#kontakt" class="btn btn-circle page-scroll">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div>
    </div>
</section>
